
  .login-container {
    width: 500px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 20px auto;
  }
  .main{
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  .login-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form label {
    /* background-color: gray; */
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .login-form input:focus {
    outline: none;
    border-color: #888888;
  }
  
  .login-button {
    width: 106%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    /* text-align: center; */
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .signup-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #666666;
  }
  
  .signup-text a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  